.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre4 {
    color: windowtext;
    text-decoration: none
    }
.calibre5 {
    height: 31px;
    width: 88px
    }
.calibre6 {
    height: 32px;
    width: 88px
    }
.calibre7 {
    height: 85px;
    line-height: 1.2;
    width: 85px
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-family: "Cambria", serif;
    font-size: 1em
    }
.calibre10 {
    display: block
    }
.calibre11 {
    color: windowtext;
    display: none;
    line-height: 1.2;
    text-decoration: none
    }
.calibre12 {
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre13 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre14 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre15 {
    height: 257px;
    line-height: 1.2;
    width: 389px
    }
.calibre16 {
    height: 404px;
    line-height: 1.2;
    width: 297px
    }
.calibre17 {
    height: 360px;
    line-height: 1.2;
    width: 240px
    }
.calibre18 {
    letter-spacing: -0.1pt;
    line-height: 1.2
    }
.calibre19 {
    height: 299px;
    line-height: 1.2;
    width: 219px
    }
.calibre20 {
    height: 319px;
    line-height: 1.2;
    width: 277px
    }
.calibre21 {
    letter-spacing: -0.2pt;
    line-height: 1.2
    }
.calibre22 {
    height: 280px;
    line-height: 1.2;
    width: 221px
    }
.calibre23 {
    height: 339px;
    line-height: 1.2;
    width: 257px
    }
.calibre24 {
    height: 435px;
    line-height: 1.2;
    width: 323px
    }
.calibre25 {
    height: 247px;
    line-height: 1.2;
    width: 331px
    }
.calibre26 {
    height: 265px;
    line-height: 1.2;
    width: 346px
    }
.calibre27 {
    height: 231px;
    line-height: 1.2;
    width: 322px
    }
.calibre28 {
    height: 287px;
    line-height: 1.2;
    width: 376px
    }
.calibre29 {
    height: 302px;
    line-height: 1.2;
    width: 335px
    }
.calibre30 {
    height: 207px;
    line-height: 1.2;
    width: 264px
    }
.calibre31 {
    height: 352px;
    line-height: 1.2;
    width: 346px
    }
.calibre32 {
    height: 378px;
    line-height: 1.2;
    width: 249px
    }
.calibre33 {
    height: 378px;
    line-height: 1.2;
    width: 300px
    }
.calibre34 {
    height: 363px;
    line-height: 1.2;
    width: 308px
    }
.calibre35 {
    height: 416px;
    line-height: 1.2;
    width: 321px
    }
.calibre36 {
    height: 341px;
    line-height: 1.2;
    width: 282px
    }
.calibre37 {
    height: 402px;
    line-height: 1.2;
    width: 335px
    }
.calibre38 {
    height: 328px;
    line-height: 1.2;
    width: 301px
    }
.calibre39 {
    letter-spacing: 0.1pt;
    line-height: 1.2
    }
.calibre40 {
    height: 427px;
    line-height: 1.2;
    width: 307px
    }
.calibre41 {
    height: 417px;
    line-height: 1.2;
    width: 313px
    }
.calibre42 {
    height: 451px;
    line-height: 1.2;
    width: 328px
    }
.calibre43 {
    height: 341px;
    line-height: 1.2;
    width: 250px
    }
.calibre44 {
    height: 434px;
    line-height: 1.2;
    width: 337px
    }
.calibre45 {
    height: 378px;
    line-height: 1.2;
    width: 315px
    }
.calibre46 {
    height: 416px;
    line-height: 1.2;
    width: 314px
    }
.calibre47 {
    height: 259px;
    line-height: 1.2;
    width: 325px
    }
.calibre48 {
    height: 370px;
    line-height: 1.2;
    width: 267px
    }
.calibre49 {
    height: 305px;
    line-height: 1.2;
    width: 400px
    }
.calibre50 {
    height: 292px;
    line-height: 1.2;
    width: 408px
    }
.calibre51 {
    height: 282px;
    line-height: 1.2;
    width: 381px
    }
.calibre52 {
    height: 253px;
    line-height: 1.2;
    width: 375px
    }
.calibre53 {
    height: 253px;
    line-height: 1.2;
    width: 346px
    }
.calibre54 {
    height: 266px;
    line-height: 1.2;
    width: 374px
    }
.calibre55 {
    height: 299px;
    line-height: 1.2;
    width: 401px
    }
.calibre56 {
    height: 292px;
    line-height: 1.2;
    width: 406px
    }
.calibre57 {
    height: 278px;
    line-height: 1.2;
    width: 405px
    }
.calibre58 {
    height: 304px;
    line-height: 1.2;
    width: 423px
    }
.calibre59 {
    letter-spacing: 0.2pt;
    line-height: 1.2
    }
.calibre60 {
    height: 330px;
    line-height: 1.2;
    width: 232px
    }
.calibre61 {
    height: 409px;
    line-height: 1.2;
    width: 338px
    }
.calibre62 {
    height: 407px;
    line-height: 1.2;
    width: 341px
    }
.calibre63 {
    height: 354px;
    line-height: 1.2;
    width: 280px
    }
.calibre64 {
    height: 340px;
    line-height: 1.2;
    width: 256px
    }
.calibre65 {
    height: 340px;
    line-height: 1.2;
    width: 255px
    }
.calibre66 {
    height: 301px;
    line-height: 1.2;
    width: 230px
    }
.calibre67 {
    height: 380px;
    line-height: 1.2;
    width: 290px
    }
.calibre68 {
    height: 315px;
    line-height: 1.2;
    width: 230px
    }
.calibre69 {
    height: 359px;
    line-height: 1.2;
    width: 167px
    }
.calibre70 {
    height: 419px;
    line-height: 1.2;
    width: 294px
    }
.calibre71 {
    height: 362px;
    line-height: 1.2;
    width: 266px
    }
.calibre72 {
    height: 416px;
    line-height: 1.2;
    width: 305px
    }
.calibre73 {
    height: 432px;
    line-height: 1.2;
    width: 327px
    }
.calibre74 {
    height: 373px;
    line-height: 1.2;
    width: 291px
    }
.calibre75 {
    height: 422px;
    line-height: 1.2;
    width: 365px
    }
.calibre76 {
    height: 322px;
    line-height: 1.2;
    width: 246px
    }
.calibre77 {
    height: 375px;
    line-height: 1.2;
    width: 277px
    }
.calibre78 {
    display: block;
    line-height: 1.2
    }
.calibre79 {
    display: block
    }
.calibre80 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    margin: 0.5em auto;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px
    }
.calibre81 {
    font-style: italic;
    line-height: 1.2
    }
.mlpdopispodpisi {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    text-align: right;
    margin: 6pt 14.2pt 12pt 0
    }
.mlplicencehypertext {
    color: blue;
    font-family: "Cambria", serif;
    font-variant: normal;
    line-height: 1.2;
    text-decoration: underline none underline;
    text-transform: none;
    vertical-align: baseline
    }
.mlplicenceobrazek {
    display: block;
    font-family: "Cambria", serif;
    font-size: 0.83333em;
    text-align: center;
    margin: 6pt 0 4.5pt
    }
.mlplicencetext {
    display: block;
    font-family: "Cambria", serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlpobrazky {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 12pt 0 0.0001pt
    }
.mlpobrazky1 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 12pt 0
    }
.mlpobsah {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 12pt 0
    }
.mlptext {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku1 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku2 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 12pt
    }
.mlptextbez1radku3 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 12pt 0 0.0001pt
    }
.mlptextbez1radkub {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextcapekseznam {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 6pt
    }
.mlptextuprostredi {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlptirazautoranazev {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 0.0001pt
    }
.mlptitulkaautor {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.4em;
    line-height: 1.2;
    text-align: center;
    margin: 18pt 0 0.0001pt
    }
.mlptitulkanazev {
    display: block;
    font-family: "Cambria", serif;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpuroven2kapitola {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 18pt 0 12pt
    }
.mlpznakkurziva11b {
    font-family: "Cambria", serif;
    font-style: italic;
    line-height: 1.2
    }
.mlpznaktucne11b {
    font-family: "Cambria", serif;
    font-weight: bold;
    line-height: 1.2
    }
.msofootnotereference {
    color: blue;
    font-family: "Cambria", serif;
    line-height: 1.2;
    text-decoration: underline;
    vertical-align: super
    }
.msofootnotetext {
    display: block;
    font-family: "Cambria", serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.msohyperlink {
    color: blue;
    font-family: "Cambria", serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: underline
    }
.msonormal {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.0001pt
    }
.msotoc {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.0001pt 11.05pt
    }
.stylznakapoznpodarouzeno01b {
    color: blue;
    font-family: "Cambria", serif;
    letter-spacing: -0.1pt;
    line-height: 1.2;
    text-decoration: underline;
    vertical-align: super
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
.wordsection2 {
    display: block;
    page: WordSection3
    }
.wordsection3 {
    display: block;
    page: WordSection4
    }
.wordsection4 {
    display: block;
    page: WordSection5
    }
.pcalibre:visited {
    color: #954F72;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    font-family: "Cambria", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline
    }
